* {
    font-family: sans-serif;
}

body {
    background-color: whitesmoke;
}

.frame {
    margin: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 10px #000000;
    color: black;
    width: 300px;
}

.frame h1 {
    padding: 10px 0 0 10px
}

#addButton {
    border-radius: 5px;
    background-color: white;
    float: right;
    margin: 6px 10px;
    border: none;
    padding: 10px;
    box-shadow: 1px 1px 5px #000000;
    transition: 0.3s;
}

#addButton:hover {
    background-color: whitesmoke;
}

.frame li {
    padding-bottom: 10px;
}

.frame li button {
    background: none;
    border: none;
    color: red;
}

.frame li button:hover {
    text-decoration: underline;
}